_flows/etl_data_pipeline.yml
id: etl_data_pipeline
namespace: data_pipeline
description: "OCR Projet 10 : ETL complet ERP, Web et liaison"

variables:
  sourceerp: /app/data/raw/Fichier_erp.xlsx
  sourceweb: /app/data/raw/Fichier_web.xlsx
  sourceliaison: /app/data/raw/fichier_liaison.xlsx
  tempDir: /app/data/tmp
  outputDir: /app/data/output

triggers:
  - id: monthly_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 9 15 * *"

pluginDefaults:
  - type: io.kestra.plugin.jdbc.duckdb.Query
    values:
      retry:
        type: constant
        maxAttempt: 3
        interval: PT5S

errors:
  - id: pipeline_failed
    type: io.kestra.plugin.core.log.Log
    message: |
      🚨 Pipeline échoué :
        - Flow       : {{ flow.namespace }}.{{ flow.id }}
        - Exécution  : {{ execution.id }}
        - Tâche      : {{ errorLogs()[0]['taskId'] }}
        - Message    : {{ errorLogs()[0]['message'] }}

tasks:
  - id: start
    type: io.kestra.plugin.core.log.Log
    message: "✅ Début du pipeline ETL"

  - id: load_files
    type: io.kestra.plugin.core.flow.Parallel
    description: "Chargement des fichiers Excel en Parquet"
    tasks:

      # ── Fichier LIAISON ──────────────────────────────────────────────────────
      - id: liaison_pipeline
        type: io.kestra.plugin.core.flow.Sequential
        tasks:

          - id: load_liaison
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Chargement brut xlsx → parquet"
            sql: |
            
              COPY (
                SELECT * FROM read_xlsx('{{ vars.sourceliaison }}', header=TRUE, all_varchar=true)
              ) TO '{{ vars.tempDir }}/liaison_raw.parquet' (FORMAT PARQUET)

          - id: count_raw_liaison
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Compte les lignes brutes"
            fetchType: FETCH_ONE
            sql: |
              SELECT COUNT(*) AS nb_lignes_raw
              FROM read_parquet('{{ vars.tempDir }}/liaison_raw.parquet');

          - id: clean_liaison
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Nettoyage et dédoublonnage liaison"
            sql: |
              COPY (
                 SELECT DISTINCT *
                 FROM read_parquet('{{ vars.tempDir }}/liaison_raw.parquet')
               ) TO '{{ vars.tempDir }}/liaison_dedup.parquet' (FORMAT PARQUET);

          - id: count_clean_liaison
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Compte les lignes après nettoyage"
            fetchType: FETCH_ONE
            sql: |
              SELECT
                COUNT(*) AS nb_lignes_clean,
                {{ outputs.count_raw_liaison.row.nb_lignes_raw }} - COUNT(*) AS nb_supprimees
              FROM read_parquet('{{ vars.tempDir }}/liaison_dedup.parquet');

          - id: log_liaison
            type: io.kestra.plugin.core.log.Log
            message: |
              📊 Liaison :
                - Brut       : {{ outputs.count_raw_liaison.row.nb_lignes_raw }} lignes
                - Clean      : {{ outputs.count_clean_liaison.row.nb_lignes_clean }} lignes
                - Supprimées : {{ outputs.count_clean_liaison.row.nb_supprimees }} lignes

          - id: test_liaison
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Tests qualité liaison : doublons sur ligne complète"
            fetchType: FETCH_ONE
            sql: |
              SELECT
                COUNT(*) FILTER (WHERE cnt > 1) AS doublons_lignes
              FROM (
                SELECT *, COUNT(*) OVER (PARTITION BY product_id, id_web) AS cnt
                FROM read_parquet('{{ vars.tempDir }}/liaison_dedup.parquet')
              ) sub;

          - id: assert_liaison
            type: io.kestra.plugin.core.flow.If
            description: "Bloque l'export si des doublons détectés"
            condition: "{{ outputs.test_liaison.row.doublons_lignes > 0 }}"
            then:
              - id: fail_liaison
                type: io.kestra.plugin.core.execution.Fail
                errorMessage: |
                  ❌ Tests liaison échoués :
                    - Lignes doublons : {{ outputs.test_liaison.row.doublons_lignes }}   

          - id: export_liaison
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Export final liaison"
            sql: |
              COPY (
                SELECT * FROM read_parquet('{{ vars.tempDir }}/liaison_dedup.parquet')
              ) TO '{{ vars.outputDir }}/liaison_final.parquet' (FORMAT PARQUET);

      # ── Fichier ERP ──────────────────────────────────────────────────────
      - id: erp_pipeline
        type: io.kestra.plugin.core.flow.Sequential
        tasks:

          - id: load_erp
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Chargement brut xlsx → parquet"
            sql: |
              COPY (
                SELECT * FROM read_xlsx('{{ vars.sourceerp }}', header=TRUE, all_varchar=true)
              ) TO '{{ vars.tempDir }}/erp_raw.parquet' (FORMAT PARQUET)

          - id: count_raw_erp
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Compte les lignes brutes"
            fetchType: FETCH_ONE
            sql: |
              SELECT COUNT(*) AS nb_lignes_raw
              FROM read_parquet('{{ vars.tempDir }}/erp_raw.parquet');

          - id: clean_erp
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Nettoyage et dédoublonnage erp"
            sql: |
              COPY (
                SELECT product_id, onsale_web, price, stock_quantity, stock_status
                FROM (
                  SELECT *,
                    ROW_NUMBER() OVER (
                      PARTITION BY TRY_CAST(product_id AS INTEGER)
                      ORDER BY onsale_web DESC  -- Priorité à ceux qui sont en vente
                    ) AS rn
                  FROM read_parquet('{{ vars.tempDir }}/erp_raw.parquet')
                  WHERE TRY_CAST(product_id AS INTEGER) IS NOT NULL
                ) sub
                WHERE rn = 1
              ) TO '{{ vars.tempDir }}/erp_dedup.parquet' (FORMAT PARQUET);

          - id: count_clean_erp
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Compte les lignes après nettoyage"
            fetchType: FETCH_ONE
            sql: |
              SELECT
                COUNT(*) AS nb_lignes_clean,
                {{ outputs.count_raw_erp.row.nb_lignes_raw }} - COUNT(*) AS nb_supprimees
              FROM read_parquet('{{ vars.tempDir }}/erp_dedup.parquet');

          - id: log_erp
            type: io.kestra.plugin.core.log.Log
            message: |
              📊 erp :
                - Brut       : {{ outputs.count_raw_erp.row.nb_lignes_raw }} lignes
                - Clean      : {{ outputs.count_clean_erp.row.nb_lignes_clean }} lignes
                - Supprimées : {{ outputs.count_clean_erp.row.nb_supprimees }} lignes

          - id: test_erp
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Tests qualité ERP : doublons + NULL"
            fetchType: FETCH_ONE
            sql: |
              SELECT
                (SELECT COUNT(*) FROM (
                  SELECT product_id
                  FROM read_parquet('{{ vars.tempDir }}/erp_dedup.parquet')
                  GROUP BY product_id HAVING COUNT(*) > 1
                )) AS doublons_product_id,

                (SELECT COUNT(*) FROM read_parquet('{{ vars.tempDir }}/erp_dedup.parquet')
                  WHERE product_id IS NULL
                ) AS nulls_product_id;

          - id: assert_erp
            type: io.kestra.plugin.core.flow.If
            description: "Bloque l'export si un test échoue"
            condition: "{{ outputs.test_erp.row.doublons_product_id > 0 or outputs.test_erp.row.nulls_product_id > 0 }}"
            then:
              - id: fail_erp
                type: io.kestra.plugin.core.execution.Fail
                errorMessage: |
                  ❌ Tests erp échoués :
                    - Doublons product_id : {{ outputs.test_erp.row.doublons_product_id }}
                    - NULL product_id     : {{ outputs.test_erp.row.nulls_product_id }}

          - id: export_erp
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Export final erp"
            sql: |
              COPY (
                SELECT * FROM read_parquet('{{ vars.tempDir }}/erp_dedup.parquet')
              ) TO '{{ vars.outputDir }}/erp_final.parquet' (FORMAT PARQUET);

      # ── Fichier web ──────────────────────────────────────────────────────
      - id: web_pipeline
        type: io.kestra.plugin.core.flow.Sequential
        tasks:

          - id: load_web
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Chargement brut xlsx → parquet"
            sql: |
              COPY (
                SELECT * FROM read_xlsx('{{ vars.sourceweb }}', header=TRUE, all_varchar=true)
              ) TO '{{ vars.tempDir }}/web_raw.parquet' (FORMAT PARQUET)

          - id: count_raw_web
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Compte les lignes brutes"
            fetchType: FETCH_ONE
            sql: |
              SELECT COUNT(*) AS nb_lignes_raw
              FROM read_parquet('{{ vars.tempDir }}/web_raw.parquet');

          - id: clean_web
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Dédoublonnage et filtrage web"
            sql: |
              COPY (
                SELECT DISTINCT *
                FROM read_parquet('{{ vars.tempDir }}/web_raw.parquet')
                WHERE post_type = 'product'
                AND sku IS NOT NULL
              ) TO '{{ vars.tempDir }}/web_dedup.parquet' (FORMAT PARQUET);

          - id: count_clean_web
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Compte les lignes après nettoyage"
            fetchType: FETCH_ONE
            sql: |
              SELECT
                COUNT(*) AS nb_lignes_clean,
                {{ outputs.count_raw_web.row.nb_lignes_raw }} - COUNT(*) AS nb_supprimees
              FROM read_parquet('{{ vars.tempDir }}/web_dedup.parquet');

          - id: log_web
            type: io.kestra.plugin.core.log.Log
            message: |
              📊 web :
                - Brut       : {{ outputs.count_raw_web.row.nb_lignes_raw }} lignes
                - Clean      : {{ outputs.count_clean_web.row.nb_lignes_clean }} lignes
                - Supprimées : {{ outputs.count_clean_web.row.nb_supprimees }} lignes

          - id: test_web
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Tests qualité web : doublons + NULL"
            fetchType: FETCH_ONE
            sql: |
              SELECT
                (SELECT COUNT(*) FROM (
                  SELECT sku
                  FROM read_parquet('{{ vars.tempDir }}/web_dedup.parquet')
                  GROUP BY sku HAVING COUNT(*) > 1
                )) AS doublons_sku,

                (SELECT COUNT(*) FROM read_parquet('{{ vars.tempDir }}/web_dedup.parquet')
                  WHERE sku IS NULL
                ) AS nulls_sku;

          - id: assert_web
            type: io.kestra.plugin.core.flow.If
            description: "Bloque l'export si un test échoue"
            condition: "{{ outputs.test_web.row.doublons_sku > 0 or outputs.test_web.row.nulls_sku > 0 }}"
            then:
              - id: fail_web
                type: io.kestra.plugin.core.execution.Fail
                errorMessage: |
                  ❌ Tests web échoués :
                    - Doublons sku : {{ outputs.test_web.row.doublons_sku }}
                    - NULL sku     : {{ outputs.test_web.row.nulls_sku }}

          - id: export_web
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Export final web"
            sql: |
              COPY (
                SELECT * FROM read_parquet('{{ vars.tempDir }}/web_dedup.parquet')
              ) TO '{{ vars.outputDir }}/web_final.parquet' (FORMAT PARQUET);


  - id: merge_files
    type: io.kestra.plugin.core.flow.Sequential
    description: "merge les tables erp et web avec la table liaison"
    tasks:

    - id: merge_tables
      type: io.kestra.plugin.jdbc.duckdb.Query
      description: "Fusion des trois sources (liaison + web + erp)"
      sql: |
        COPY (
          SELECT *
          FROM read_parquet('{{ vars.outputDir }}/liaison_final.parquet') l
          INNER JOIN read_parquet('{{ vars.outputDir }}/web_final.parquet') w
            ON w.sku = l.id_web
          INNER JOIN read_parquet('{{ vars.outputDir }}/erp_final.parquet') e
            ON e.product_id = l.product_id
        ) TO '{{ vars.outputDir }}/merge_final.parquet' (FORMAT PARQUET)

    - id: count_merged_data
      type: io.kestra.plugin.jdbc.duckdb.Query
      description: "Compte les lignes du fichier final fusionné"
      fetchType: FETCH_ONE
      sql: |
        SELECT COUNT(*) AS total_lignes
        FROM read_parquet('{{ vars.outputDir }}/merge_final.parquet');

    - id: test_jointures
      type: io.kestra.plugin.jdbc.duckdb.Query
      description: "Tests de cohérence des jointures"
      fetchType: FETCH_ONE
      sql: |
        SELECT
          -- Aucune ligne ne doit avoir de clé de jointure NULL après merge
          COUNT(*) FILTER (WHERE product_id IS NULL) AS nulls_product_id,
          COUNT(*) FILTER (WHERE sku IS NULL)        AS nulls_sku,

          -- Le merge ne doit pas avoir gonflé les lignes (pas de produits dupliqués)
          COUNT(*) - COUNT(DISTINCT product_id)      AS doublons_apres_merge
        FROM read_parquet('{{ vars.outputDir }}/merge_final.parquet');

    - id: assert_jointures
      type: io.kestra.plugin.core.flow.If
      description: "Bloque si la jointure est incohérente"
      condition: "{{ outputs.test_jointures.row.nulls_product_id > 0 or outputs.test_jointures.row.nulls_sku > 0 or outputs.test_jointures.row.doublons_apres_merge > 0 }}"
      then:
        - id: fail_jointures
          type: io.kestra.plugin.core.execution.Fail
          errorMessage: |
            ❌ Tests jointures échoués :
              - NULL product_id      : {{ outputs.test_jointures.row.nulls_product_id }}
              - NULL sku             : {{ outputs.test_jointures.row.nulls_sku }}
              - Doublons après merge : {{ outputs.test_jointures.row.doublons_apres_merge }}

  - id: calcul_outputs_metier
    type: io.kestra.plugin.core.flow.Parallel
    description: "calcul des outputs métiers"
    tasks:

      - id: calcul_ca
        type: io.kestra.plugin.core.flow.Sequential
        tasks:

        - id: calculate_ca_global
          type: io.kestra.plugin.jdbc.duckdb.Query
          description: "Calcul du Chiffre d'Affaires Total"
          fetchType: FETCH_ONE
          sql: |
            SELECT
              ROUND(SUM(CAST(price AS DOUBLE) * CAST(total_sales AS INTEGER)), 2) AS ca_total
            FROM read_parquet('{{ vars.outputDir }}/merge_final.parquet')
            WHERE total_sales IS NOT NULL AND price IS NOT NULL;

        - id: test_ca
          type: io.kestra.plugin.jdbc.duckdb.Query
          description: "Tests de cohérence du CA"
          fetchType: FETCH_ONE
          sql: |
            SELECT
              -- Le CA global ne doit pas être NULL ni nul
              CASE WHEN {{ outputs.calculate_ca_global.row.ca_total }} IS NULL
                   THEN 1 ELSE 0 END                              AS ca_null,
              CASE WHEN {{ outputs.calculate_ca_global.row.ca_total }} <= 0
                   THEN 1 ELSE 0 END                              AS ca_negatif_ou_nul,

              -- Lignes avec price ou total_sales NULL ou négatifs
              COUNT(*) FILTER (
                WHERE CAST(price AS DOUBLE) <= 0
                   OR CAST(total_sales AS INTEGER) < 0
              )                                                    AS lignes_incoherentes
            FROM read_parquet('{{ vars.outputDir }}/merge_final.parquet')
            WHERE price IS NOT NULL AND total_sales IS NOT NULL;

        - id: assert_ca
          type: io.kestra.plugin.core.flow.If
          description: "Bloque si le CA est incohérent"
          condition: >
            {{ outputs.test_ca.row.ca_null > 0
            or outputs.test_ca.row.ca_negatif_ou_nul > 0
            or outputs.test_ca.row.lignes_incoherentes > 0 }}
          then:
            - id: fail_ca
              type: io.kestra.plugin.core.execution.Fail
              errorMessage: |
                ❌ Tests CA échoués :
                  - CA NULL             : {{ outputs.test_ca.row.ca_null }}
                  - CA ≤ 0             : {{ outputs.test_ca.row.ca_negatif_ou_nul }}
                  - Lignes incohérentes : {{ outputs.test_ca.row.lignes_incoherentes }}
      
        - id: export_ca_produit
          type: io.kestra.plugin.scripts.python.Script
          description: "Export CA par produit en XLSX"
          taskRunner:
            type: io.kestra.plugin.core.runner.Process
          beforeCommands:
            - pip install duckdb pandas openpyxl -q
          script: |
            import duckdb
            import pandas as pd
      
            df = duckdb.query("""
                SELECT
                    product_id,
                    ROUND(SUM(CAST(price AS DOUBLE) * CAST(total_sales AS INTEGER)), 2) AS ca_produit
                FROM read_parquet('/app/data/output/merge_final.parquet')
                GROUP BY product_id
            """).to_df()
      
            df.to_excel('/app/data/output/ca_produit.xlsx', index=False, engine='openpyxl')
            print(f"✅ CA produit exporté — {len(df)} lignes")

      - id: analyse_type_wines
        type: io.kestra.plugin.core.flow.Sequential
        tasks:
      
        - id: classify_wines
          type: io.kestra.plugin.scripts.python.Script
          description: "Classification vins avec z-score"
          taskRunner:
            type: io.kestra.plugin.core.runner.Process
          beforeCommands:
            - pip install duckdb pandas pyarrow -q
          script: |
            import duckdb
            import pandas as pd
      
            df = duckdb.query("""
                SELECT *
                FROM read_parquet('/app/data/output/merge_final.parquet')
            """).to_df()
      
            df['price'] = df['price'].astype(float)
      
            mean_price = df['price'].mean()
            std_price = df['price'].std()
      
            df['z_score'] = (df['price'] - mean_price) / std_price
            df['type_vin'] = df['z_score'].apply(lambda x: "millésime" if x > 2 else "ordinaire")
      
            df.to_parquet('/app/data/output/vins_classes.parquet', index=False)
            print(f"✅ Classification OK — {len(df)} vins classifiés")

        - id: test_zscore
          type: io.kestra.plugin.scripts.python.Script
          description: "Validation de la distribution Z-score"
          taskRunner:
            type: io.kestra.plugin.core.runner.Process
          beforeCommands:
            - pip install pandas pyarrow -q
          script: |
            import pandas as pd
            import sys

            df = pd.read_parquet('/app/data/output/vins_classes.parquet')

            errors = []

            # La colonne z_score ne doit pas contenir de NaN
            nb_nan = df['z_score'].isna().sum()
            if nb_nan > 0:
                errors.append(f"Z-score contient {nb_nan} valeurs NaN")

            # La moyenne des z-scores doit être proche de 0 (tolérance ±0.01)
            mean_z = df['z_score'].mean()
            if abs(mean_z) > 0.01:
                errors.append(f"Moyenne z-score anormale : {mean_z:.4f} (attendu ≈ 0)")

            # L'écart-type des z-scores doit être proche de 1 (tolérance ±0.05)
            std_z = df['z_score'].std()
            if abs(std_z - 1) > 0.05:
                errors.append(f"Écart-type z-score anormal : {std_z:.4f} (attendu ≈ 1)")

            # Au moins 1 vin millésime doit exister
            nb_premium = (df['type_vin'] == 'millésime').sum()
            if nb_premium == 0:
                errors.append("Aucun vin millésime détecté — vérifier le seuil z > 2")

            if errors:
                print("❌ Tests Z-score échoués :")
                for e in errors:
                    print(f"  - {e}")
                sys.exit(1)

            print(f"✅ Z-score OK — moyenne={mean_z:.4f}, std={std_z:.4f}, millésimes={nb_premium}")

        - id: export_vins_premium
          type: io.kestra.plugin.jdbc.duckdb.Query
          description: "Export vins premium en CSV"
          sql: |
            COPY (
              SELECT *
              FROM read_parquet('/app/data/output/vins_classes.parquet')
              WHERE type_vin = 'millésime'
            ) TO '/app/data/output/vins_premium.csv' (FORMAT CSV, HEADER TRUE);

        - id: export_vins_ordinaires
          type: io.kestra.plugin.jdbc.duckdb.Query
          description: "Export vins ordinaires en CSV"
          sql: |
            COPY (
              SELECT *
              FROM read_parquet('/app/data/output/vins_classes.parquet')
              WHERE type_vin = 'ordinaire'
            ) TO '/app/data/output/vins_ordinaires.csv' (FORMAT CSV, HEADER TRUE);

        - id: count_vins_premium
          type: io.kestra.plugin.jdbc.duckdb.Query
          description: "Compte les vins premium"
          fetchType: FETCH_ONE
          sql: |
            SELECT COUNT(*) AS nb_premium
            FROM read_parquet('/app/data/output/vins_classes.parquet')
            WHERE type_vin = 'millésime';

        - id: count_vins_ordinaires
          type: io.kestra.plugin.jdbc.duckdb.Query
          description: "Compte les vins ordinaires"
          fetchType: FETCH_ONE
          sql: |
            SELECT COUNT(*) AS nb_ordinaires
            FROM read_parquet('/app/data/output/vins_classes.parquet')
            WHERE type_vin = 'ordinaire';


  - id: end
    type: io.kestra.plugin.core.log.Log
    message: |
      ✅ Pipeline ETL terminé avec succès
      📊 Liaison : {{ outputs.count_clean_liaison.row.nb_lignes_clean }} lignes exportées
      📊 ERP     : {{ outputs.count_clean_erp.row.nb_lignes_clean }} lignes exportées
      📊 WEB     : {{ outputs.count_clean_web.row.nb_lignes_clean }} lignes exportées
      📊 FUSION  : {{ outputs.count_merged_data.row.total_lignes }} lignes exportées
 
      RÉSULTAT FINANCIER :
      💰 Chiffre d'Affaires Total : {{ outputs.calculate_ca_global.row.ca_total }} €

       🍷 CLASSIFICATION DES VINS :
      Vins millésimes  : {{ outputs.count_vins_premium.row.nb_premium }} vins
      Vins ordinaires  : {{ outputs.count_vins_ordinaires.row.nb_ordinaires }} vins