_flows/etl_data_pipeline.yml
id: etl_data_pipeline
namespace: data_pipeline
description: "OCR Projet 10 : ETL complet ERP, Web et liaison"

variables:
  sourceerp: /app/data/raw/Fichier_erp.xlsx
  sourceWeb: /app/data/raw/Fichier_web.xlsx
  sourceliaison: /app/data/raw/fichier_liaison.xlsx
  tempDir: /app/data/tmp
  outputDir: /app/data/output

errors:
  - id: pipeline_failed
    type: io.kestra.plugin.core.log.Log
    message: |
      🚨 Pipeline échoué :
        - Flow       : {{ flow.namespace }}.{{ flow.id }}
        - Exécution  : {{ execution.id }}
        - Tâche      : {{ errorLogs()[0]['taskId'] }}
        - Message    : {{ errorLogs()[0]['message'] }}

tasks:
  - id: start
    type: io.kestra.plugin.core.log.Log
    message: "✅ Début du pipeline ETL"

  - id: load_files
    type: io.kestra.plugin.core.flow.Parallel
    description: "Chargement des fichiers Excel en Parquet"
    tasks:

      # ── Fichier LIAISON ──────────────────────────────────────────────────────
      - id: liaison_pipeline
        type: io.kestra.plugin.core.flow.Sequential
        tasks:

          - id: load_liaison
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Chargement brut xlsx → parquet"
            sql: |
              COPY (
                SELECT * FROM read_xlsx('{{ vars.sourceliaison }}', header=TRUE, all_varchar=true)
              ) TO '{{ vars.tempDir }}/liaison_raw.parquet' (FORMAT PARQUET)

          - id: count_raw_liaison
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Compte les lignes brutes"
            fetchType: FETCH_ONE
            sql: |
              SELECT COUNT(*) AS nb_lignes_raw
              FROM read_parquet('{{ vars.tempDir }}/liaison_raw.parquet');

          - id: clean_liaison
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Nettoyage et dédoublonnage liaison"
            sql: |
              COPY (
                SELECT product_id, id_web
                FROM (
                  SELECT *,
                    ROW_NUMBER() OVER (
                      PARTITION BY TRY_CAST(product_id AS INTEGER)
                      ORDER BY TRY_CAST(id_web AS INTEGER)
                    ) AS rn
                  FROM read_parquet('{{ vars.tempDir }}/liaison_raw.parquet')
                  WHERE TRY_CAST(product_id AS INTEGER) IS NOT NULL
                    AND TRY_CAST(id_web AS INTEGER) IS NOT NULL
                ) sub
                WHERE rn = 1
              ) TO '{{ vars.tempDir }}/liaison_dedup.parquet' (FORMAT PARQUET);

          - id: count_clean_liaison
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Compte les lignes après nettoyage"
            fetchType: FETCH_ONE
            sql: |
              SELECT
                COUNT(*) AS nb_lignes_clean,
                {{ outputs.count_raw_liaison.row.nb_lignes_raw }} - COUNT(*) AS nb_supprimees
              FROM read_parquet('{{ vars.tempDir }}/liaison_dedup.parquet');

          - id: log_liaison
            type: io.kestra.plugin.core.log.Log
            message: |
              📊 Liaison :
                - Brut       : {{ outputs.count_raw_liaison.row.nb_lignes_raw }} lignes
                - Clean      : {{ outputs.count_clean_liaison.row.nb_lignes_clean }} lignes
                - Supprimées : {{ outputs.count_clean_liaison.row.nb_supprimees }} lignes

          - id: test_liaison
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Tests qualité liaison : doublons + NULL"
            fetchType: FETCH_ONE
            sql: |
              SELECT
                (SELECT COUNT(*) FROM (
                  SELECT product_id
                  FROM read_parquet('{{ vars.tempDir }}/liaison_dedup.parquet')
                  GROUP BY product_id HAVING COUNT(*) > 1
                )) AS doublons_product_id,

                (SELECT COUNT(*) FROM (
                  SELECT id_web
                  FROM read_parquet('{{ vars.tempDir }}/liaison_dedup.parquet')
                  GROUP BY id_web HAVING COUNT(*) > 1
                )) AS doublons_id_web,

                (SELECT COUNT(*) FROM read_parquet('{{ vars.tempDir }}/liaison_dedup.parquet')
                  WHERE product_id IS NULL
                ) AS nulls_product_id,

                (SELECT COUNT(*) FROM read_parquet('{{ vars.tempDir }}/liaison_dedup.parquet')
                  WHERE id_web IS NULL
                ) AS nulls_id_web;

          - id: assert_liaison
            type: io.kestra.plugin.core.flow.If
            description: "Bloque l'export si un test échoue"
            condition: "{{ outputs.test_liaison.row.doublons_product_id > 0 or outputs.test_liaison.row.doublons_id_web > 0 or outputs.test_liaison.row.nulls_product_id > 0 or outputs.test_liaison.row.nulls_id_web > 0 }}"
            then:
              - id: fail_liaison
                type: io.kestra.plugin.core.execution.Fail
                errorMessage: |
                  ❌ Tests liaison échoués :
                    - Doublons product_id : {{ outputs.test_liaison.row.doublons_product_id }}
                    - Doublons id_web     : {{ outputs.test_liaison.row.doublons_id_web }}
                    - NULL product_id     : {{ outputs.test_liaison.row.nulls_product_id }}
                    - NULL id_web         : {{ outputs.test_liaison.row.nulls_id_web }}

          - id: export_liaison
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Export final liaison"
            sql: |
              COPY (
                SELECT * FROM read_parquet('{{ vars.tempDir }}/liaison_dedup.parquet')
              ) TO '{{ vars.outputDir }}/liaison_final.parquet' (FORMAT PARQUET);

# ── Fichier ERP ──────────────────────────────────────────────────────
      - id: erp_pipeline
        type: io.kestra.plugin.core.flow.Sequential
        tasks:

          - id: load_erp
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Chargement brut xlsx → parquet"
            sql: |
              COPY (
                SELECT * FROM read_xlsx('{{ vars.sourceerp }}', header=TRUE, all_varchar=true)
              ) TO '{{ vars.tempDir }}/erp_raw.parquet' (FORMAT PARQUET)

          - id: count_raw_erp
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Compte les lignes brutes"
            fetchType: FETCH_ONE
            sql: |
              SELECT COUNT(*) AS nb_lignes_raw
              FROM read_parquet('{{ vars.tempDir }}/erp_raw.parquet');

          - id: clean_erp
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Nettoyage et dédoublonnage erp"
            sql: |
              COPY (
                SELECT product_id, onsale_web, price, stock_quantity, stock_status
                FROM (
                  SELECT *,
                    ROW_NUMBER() OVER (
                      PARTITION BY TRY_CAST(product_id AS INTEGER)
                      ORDER BY onsale_web DESC  -- Priorité à ceux qui sont en vente
                    ) AS rn
                  FROM read_parquet('{{ vars.tempDir }}/erp_raw.parquet')
                  WHERE TRY_CAST(product_id AS INTEGER) IS NOT NULL
                ) sub
                WHERE rn = 1
              ) TO '{{ vars.tempDir }}/erp_dedup.parquet' (FORMAT PARQUET);

          - id: count_clean_erp
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Compte les lignes après nettoyage"
            fetchType: FETCH_ONE
            sql: |
              SELECT
                COUNT(*) AS nb_lignes_clean,
                {{ outputs.count_raw_erp.row.nb_lignes_raw }} - COUNT(*) AS nb_supprimees
              FROM read_parquet('{{ vars.tempDir }}/erp_dedup.parquet');

          - id: log_erp
            type: io.kestra.plugin.core.log.Log
            message: |
              📊 erp :
                - Brut       : {{ outputs.count_raw_erp.row.nb_lignes_raw }} lignes
                - Clean      : {{ outputs.count_clean_erp.row.nb_lignes_clean }} lignes
                - Supprimées : {{ outputs.count_clean_erp.row.nb_supprimees }} lignes

          - id: test_erp
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Tests qualité ERP : doublons + NULL"
            fetchType: FETCH_ONE
            sql: |
              SELECT
                (SELECT COUNT(*) FROM (
                  SELECT product_id
                  FROM read_parquet('{{ vars.tempDir }}/erp_dedup.parquet')
                  GROUP BY product_id HAVING COUNT(*) > 1
                )) AS doublons_product_id,

                (SELECT COUNT(*) FROM read_parquet('{{ vars.tempDir }}/erp_dedup.parquet')
                  WHERE product_id IS NULL
                ) AS nulls_product_id;

          - id: assert_erp
            type: io.kestra.plugin.core.flow.If
            description: "Bloque l'export si un test échoue"
            condition: "{{ outputs.test_erp.row.doublons_product_id > 0 or outputs.test_erp.row.nulls_product_id > 0 }}"
            then:
              - id: fail_erp
                type: io.kestra.plugin.core.execution.Fail
                errorMessage: |
                  ❌ Tests erp échoués :
                    - Doublons product_id : {{ outputs.test_erp.row.doublons_product_id }}
                    - NULL product_id     : {{ outputs.test_erp.row.nulls_product_id }}

          - id: export_erp
            type: io.kestra.plugin.jdbc.duckdb.Query
            description: "Export final erp"
            sql: |
              COPY (
                SELECT * FROM read_parquet('{{ vars.tempDir }}/erp_dedup.parquet')
              ) TO '{{ vars.outputDir }}/erp_final.parquet' (FORMAT PARQUET);

  - id: end
    type: io.kestra.plugin.core.log.Log
    message: |
      ✅ Pipeline ETL terminé avec succès
      📊 Liaison : {{ outputs.count_clean_liaison.row.nb_lignes_clean }} lignes exportées
